---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  { 
    date: "March 2024 - Actual",
    title: "Software Developer",
    company: "ICONOS SOFTWARE SL",
    description:
      "In my role, I have actively participated in the development and enhancement of enterprise solutions through the creation of APIs and the integration of advanced functionalities such as AI document processing in an ERP system. Using the .NET ecosystem to deliver customized and efficient solutions to diverse businesses.",
    link: "/CvRubenDiazDugoEn.pdf",
  },
  // {
  //   date: "Septiembre 2022",
  //   title: "Principal Frontend Engineer",
  //   company: "Adevinta Spain",
  //   description:
  //     "Responsable de la plataforma, componentes y utilidades para la creaci칩n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci칩n de medidas de integraci칩n continua y despliegue con A/B testing en m치s de 15 equipos.",
  // },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
